{% extends "p_base.html" %}

{% block title %}- {{autor.autor_nombre}} {% endblock %}

{% block contenido %}
<section>
	<script>
		$('#m2').addClass("active");
	</script>
	<h2>{{autor.name}}</h2>
	<figure>
		<img src="{{autor.get_photo}}" width="300px">
	</figure>
	<p>Original de {{autor.nation}}, <img src="{{autor.nation.get_flag}}" width="20px"></p>
	<p>Libros en la biblioteca de {{autor.name}}: {{numlibros}} libro(s)</p>
	<ul>
		{% for libro in libros %}
				<li><a href="{% url 'books:detail' libro.id %}">{{libro.title}}</a></li>
		{% endfor %}
	</ul>
</section>
<a href="{% url 'authors:home' %}" class="btn btn-primary">Volver</a>


{% endblock %}
