{% extends "base.html" %}

{% block title %}- Indice de libros {% endblock %}

{% block content %}

	<form action="{% url 'books:searchbook' %}" class="SearchForm" method="post">
		{% csrf_token %}
		<input type="text" placeholder="Intruduce nombre de libro o autor">
		<input type="submit" value="Enviar">
	</form>

	<h3>Libros disponibles</h3>
	<section class="Book-List">
		{% for libro in libros %}
		<article class="Book">
			<header class="Book-header">
				<h1 class="Book-title">
					<a href="{% url 'books:detail' libro.id %}" class="Book-titleLink">
						{{libro.title}}
						<small>({{libro.pub_year}})</small>
					</a>
				</h1>
				<h3 class="Book-author">
					{% for autor in libro.authors.all %}
						<a href="#" class="Book-authorLink">
							{{autor.name}}
						</a>
					{% endfor %}
				</h3>
			</header>
			<div class="Book-resume">
				<h2>Descripción:</h2>
				<p>{{libro.resume}}</p>
			</div>
			<footer class="Book-footer">
				<div class="Book-registro">
					Num. Registro: <strong>{{libro.registro}}</strong>
				</div>
				<div class="Book-temas">
					<ul class="Book-temasList">
						{% for tema in libro.theme.all %}
						<li class="Book-temasItem">
							<a href="" class="Book-temaLink">{{ tema.name }}</a>
						</li>
						{% endfor %}

					</ul>
				</div>
			</footer>
		</article>
		{% endfor %}
	</section>
{% endblock %}
