{% extends "p_base.html" %}

{% block title %}- {{libro.libro_titulo}} {% endblock %}

{% block contenido %}
<section class="texto">
	<p>
		<h2>{{libro.libro_titulo}}</h2>
	</p>
	<p>Autor(es): 
		<ul>
			{% for x in autores %}
				<li>{{x}}</li>
			{% endfor %}
		</ul>
	</p>
	<p>Editorial: {{libro.libro_editorial}}</p>
	<p>Publicado en {{libro.libro_fecha_pub}}</p>
	<p>Numero de registro: {{libro.libro_num_registro}}</p>
	<p>Tema: <ul>
				{% for x in temas %}
				<li>{{x}}</li>
				{% endfor %}
			</ul></p>
	<p>Resumen: {{libro.libro_resumen}}</p>


</section>
<a href="/listalibros">Volver</a>
{% endblock %}
