{% extends "p_base.html" %}

{% block title %}- Indice de libros {% endblock %}

{% block contenido %}
	<p>
		<h3>Lista de libros disponibles</h3>
	</p>
	<p>
		<nav id="menu">
			<li><a href="/busca_libro/"> Buscar libro por nombre</a></li>
			<li><a href="/busca_tema/">Buscar por tema</a></li>
		</nav>
	</p>
	<table border = "1" width="100%">
		{% for libro in libros %} 
		<tr class="autorenlista">
			<td>
				<a href='/libro/{{libro.id}}'>
					{{libro.libro_titulo}}
				</a>
			</td>
			<td>
				{{libro.libro_tema}}
			</td>
			<td>
				{{libro.libro_editorial}}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
