.footer
	bottom 0
	top 95%
	left 0
	right 0
	position fixed
	margin 1em

.detalle-libro

	margin-botton 1em

.titseccion
	font-size 1.3em
	margin-right 1em
	text-decoration underline

.user
	position relative
	figure
		position absolute
		top 35%
		left -10px
	span
		margin-left 1em